<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Gráfico X</h4>
            <p class="card-category">
              Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Gráfico X</h4>
            <p class="card-category">
              Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Gráfico X</h4>
            <p class="card-category">
              Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Estatística Legal</p>
            <h3 class="card-title">1124
              <small>Pessoas</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Estatística Legal</p>
            <h3 class="card-title">R$ 123,25</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Estatística Legal</p>
            <h3 class="card-title">75</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">A Listinha Mais Legal</h4>
            <p class="card-category">Essa lista contém o nome de todos os cornos do nosso grupo.</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Nome</th>
                <th>Porcentagem de Corno</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jhemeson</td>
                  <td>100%</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ícaro</td>
                  <td>97%</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Fábio</td>
                  <td>87%</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Paulo</td>
                  <td>54%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">A Listinha Mais Legal</h4>
            <p class="card-category">Essa lista contém o nome de todos os cornos do nosso grupo.</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Nome</th>
                <th>Porcentagem de Corno</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jhemeson</td>
                  <td>100%</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Ícaro</td>
                  <td>97%</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Fábio</td>
                  <td>87%</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Paulo</td>
                  <td>54%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>