<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-chartings">
            
              <ngx-charts-bar-vertical
                [results]="medianaPorAno"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>

            </div>
          <div class="card-body">
            <h4 class="card-title">Gastos com Compras Governamentais sem Licitação (Anual)</h4>
            <p class="card-category">
              Valor mediano de todas as compras governamentais realizadas sem licitação entre 2000-2018.            </p>
          </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="card card-chart">
        <div class="card-header card-header-chartings">
          
            <ngx-charts-bar-vertical
              [results]="dataset"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>

        </div>
        <div class="card-body">
          <h4 class="card-title">Gráfico X</h4>
          <p class="card-category">
            Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso.
          </p>
        </div>
      </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card card-chart">
        <div class="card-header card-header-chartings">
          
            <ngx-charts-bar-vertical
              [results]="dataset"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>

        </div>
        <div class="card-body">
          <h4 class="card-title">Gráfico X</h4>
          <p class="card-category">
            Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso. Texto explicando o que é isso.
          </p>
        </div>
      </div>
    </div>
</div>