<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">A Listinha Mais Legal</h4>
        <p class="card-category">Essa lista contém o nome de todos os membros do nosso grupo.</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <th>ID</th>
            <th>Nome</th>
            <th>Porcentagem</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Jhemeson</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Ícaro</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Fábio</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Paulo</td>
              <td>100%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">A Listinha Mais Legal</h4>
        <p class="card-category">Essa lista contém o nome de todos os membros do nosso grupo.</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <th>ID</th>
            <th>Nome</th>
            <th>Porcentagem</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Jhemeson</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Ícaro</td>
              <td>97%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Fábio</td>
              <td>87%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Paulo</td>
              <td>54%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>