<app-side-bar></app-side-bar>

<div class="main-panel">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
    </div>
  </nav>
  <div class="content">
    <div class="container-fluid">
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
      <!-- your content here -->
    </div>
  </div>
</div>

