<div class="sidebar" data-color="purple" data-background-color="black">
  <div class="logo">
    <a class="simple-text logo-normal">
      <img src="/assets/img/tax_yellow.png" alt="Logo" class="logo-side">
      <br>
      FiscalizAê!
    </a>
  </div>
  <div class="sidebar-wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh lectus, scelerisque non fringilla at, aliquam non ex. Nunc enim lectus, lobortis dapibus ante sed, ultrices pharetra metus. Integer erat tortor, pretium et magna vel, condimentum interdum odio. Duis a justo pharetra, imperdiet turpis et, fermentum augue.</p>
  </div>
</div>