<div class="sidebar" data-color="purple" data-background-color="black">
  <div class="logo">
    <a class="simple-text logo-normal">
      <img src="./assets/img/tax_yellow.png" alt="Logo" class="logo-side">
      <br>
      FiscalizAê!
    </a>
  </div>
  <div class="sidebar-wrapper">
    <p>
        Este trabalho propõe uma analise sobre a variação de preços de compras
        governamentais sem licitação. A análise dos dados é realizada a partir do ajuste das
        séries históricas através do método dos mínimos quadrados e Splines, além da
        Transformada Rápida de Fourier (FFT). Todos os dados utilizados são abertos.
    </p>
    
    <a class="btn btn-documentacao btn-menu" href="https://jhemesonmotta.github.io/documentacao-fiscalizae/index.html" target="_blank">
      Documentação
     </a>
  </div>
</div>